    <% assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.title, edit_assignment_path(assignment) %></td>
        <td><%= assignment.details %></td>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.done %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>